{%  extends 'base.html' %}


{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'trac_app:list_apps' %}">App </a></li>
    <li class="breadcrumb-item"><a href="{% url 'trac_app:list_app_instances' instance_id %}">Instance</a></li>
    <li class="breadcrumb-item"><a href="{% url 'data_gateway:list_datasets' instance_id %}">Data</a></li>
    <li class="breadcrumb-item active"><a href="#">Edit</a></li>
  </ol>
</nav>


    <div class="row justify-content-end">
        <div class="col-md-2 m-2">
            <a href="{% url 'data_gateway:list_datasets' instance_id %}" class="btn">
                Cancel
            </a>
            <button id="save_data" class="btn btn-primary">
                Save Dataset
            </button>

        </div>
    </div>

    <div id="luckysheet" style="margin:0px;padding:0px;width:100%;height:100%;left: 0px;top: 0px;"></div>

{% endblock %}


{% block script %}

<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/luckysheet/dist/plugins/css/pluginsCss.css' />
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/luckysheet/dist/plugins/plugins.css' />
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/luckysheet/dist/css/luckysheet.css' />
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/luckysheet/dist/assets/iconfont/iconfont.css' />
<script src="https://cdn.jsdelivr.net/npm/luckysheet/dist/plugins/js/plugin.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luckysheet/dist/luckysheet.umd.js"></script>

<script>
    $(function () {
        //配置项
        var options = {
            container: 'luckysheet', //luckysheet为容器id
            showinfobar: false,
            data: JSON.parse('{{ workbook_data | safe }}')
        }
        luckysheet.create(options);

    })

    $(function() {
        // bind a click event to the button
        $('#save_data').click(function() {
            var data = luckysheet.getluckysheetfile();
            // for each object in data, just keep the name and data fields
            data = data.map(function(obj) {
                sheetData = obj.data;
                // filter out the empty rows
                sheetData = sheetData.filter(function(row) {
                    return row.some(function(cell) {
                        return cell != null;
                    });
                });
                return {
                    name: obj.name,
                    data: sheetData
                }
            })

            console.log(data);

            // send the data to the server
            $.ajax({
                url: '{% url "data_gateway:save_data" instance_id dataset_id %}',
                type: 'POST',
                data: {
                    'data': JSON.stringify(data),
                },
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'X-Requested-With': 'XMLHttpRequest'
                },
                success: function(response) {
                    console.log(response);
                    // show a success message
                    alert('Data saved successfully');

                },
                error: function(error) {
                    console.log(error);
                }
            });

        });
    })
</script>


{% endblock %}
