{% extends 'base.html' %}


{% block content %}
<!-- a button to register a new app definition, aligned to right -->
<div class="container">
    <div class="row justify-content-end">
        <div class="col-md-2">
            <a href="{% url 'trac_app:create_app' %}" class="btn btn-primary">Register App</a>
        </div>
    </div>
</div>

<!-- a table to show all app definitions -->
<div class="container m-2">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">App Name</th>
                        <th scope="col">App Description</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for app in app_defs %}
                    <tr>
                        <td>{{ app.name }}</td>
                        <td>{{ app.description }}</td>
                        <td>{{ app.image_name }}:{{ app.image_tag }}</td>
                        <td>
                            <a href="{% url 'trac_app:update_app' app.id %}" class="btn btn-primary">Edit</a>
                            <form action="{% url 'trac_app:delete_app' app.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            <a href="{% url 'trac_app:list_app_instances' app.id %}" class="btn btn-info">View Instances</a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}
